OffPeakSale_Seller/bin/**
OffPeakSale_Seller/gen/**
OffPeakSale_Seller/bin/classes/com/appauthority/appwiz/fragments/BranchLocationFragment.class

OffPeakSale_Seller/gen/com/offpeaksale/restaurants/R.java